.toast {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    border-radius: 25px;
    color: white;
    margin: 20px;
    z-index: 999;
    opacity: 0.9;
  }
  
  .toast--success {
    background-color: green;
  }
  
  .toast--error {
    background-color: red;
  }
  
  .toast__message {
    margin: 0;
  }
  