.footer {
  background-color: #2caa63;
  color: white;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
  margin-top: 50px;
}

.footer-content {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.footer-links a{
  text-decoration: none;
  color: white;
}

.footer-link-item {
  padding: 15px;
}

.faInstagram, .faTwitter {
  margin: 0px 10px;
  width: 20px;
  height: 20px;
  padding-top: 10px;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  /* Styles for mobile devices */
  .footer {
    padding: 30px 0;
  }

  .footer-links {
      flex-direction: column; /* stack links vertically on small screens */
      align-items: center; /* center the links */
      gap: 20px; /* increase the gap between links for easier tapping */
  }

  .footer-link-item {
      padding: 10px;
  }
}
