.scott-jones-line{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #2caa63;
    height: 0.05rem;
    border: none;
    margin-bottom: 0rem;
}

.scott-jones-header{
    font-size: 1.95rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;  
}

.scott-jones-date{
    font-size: 1.50rem;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    margin-top: 3.5rem;
}

.scott-jones-subheader{
    width: 60%;
    font-size: 1.15rem;
    font-weight: 100;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.scott-jones-offer-container {
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.scott-jones-offer-header {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.scott-jones-card-container {
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    padding: 4rem 1rem;
    border: 1px solid #2caa63;
}

.scott-jones-card {
    width: 45%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 4px 0px rgba(44,170,99,0.25);
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    background-color: #f9f9f9;
}

.scott-jones-card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.75rem;
}

.scott-jones-card-description {
    list-style-type: disc;
    padding-left: 2rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    list-style-type: none;
}

.scott-jones-card-description li {
    margin-bottom: 1rem;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.register-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #2caa63;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #2caa63;
}

.vertical-line {
    height: 58px;
    border-left: 1px solid #2caa63;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-top: auto;
}

.cost {
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid #2caa63;
    padding: 1rem 2rem;
    border-radius: 4px;
    color: #2caa63;
}

.scott-jones-testimonial-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    margin-top: 3rem;
}

.scott-jones-testimonial {
    max-width: 20%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 4px 0px rgba(44,170,99,0.25);
    border-radius: 5px;
    position: relative;
    text-align: center;
    background-color: #f9f9f9;
}

.scott-jones-testimonial-description {
    margin-bottom: 1rem;
    font-size: 1.15rem;
    font-style: italic;
}

.scott-jones-testimonial-name {
    font-weight: bold;
    font-size: .9rem;
}

.scott-jones-testimonial-card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.scott-jones-image{
    width: 30%;
    border-radius: 10px;
}

.image-container-camp {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile Adjustments */

.scott-jones-header-mobile{
    font-size: 1.95rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;  
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.scott-jones-date-mobile{
    font-size: 1.50rem;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    margin-top: 1.75rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.scott-jones-subheader-mobile{
    width: 80%;
    font-size: 1.15rem;
    font-weight: 100;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.image-container-camp-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scott-jones-image-mobile{
    width: 80%;
    border-radius: 10px;
}

.registration-container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 4.5rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cost-mobile {
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid #2caa63;
    padding: .5rem 1rem;
    border-radius: 4px;
    color: #2caa63;
    text-align: center;
}

.register-button-mobile {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    color: white;
    background-color: #2caa63;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #2caa63;
}

.vertical-line-mobile {
    height: 60px;
    border-left: 1px solid #2caa63;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-top: auto;
}

.scott-jones-card-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    padding: 2rem 1rem;
    padding-bottom: 0rem;
    border: 1px solid #2caa63;
}

.scott-jones-card-description-mobile {
    list-style-type: none;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scott-jones-card-description-item-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.scott-jones-card-mobile {
    width: 95%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 4px 0px rgba(44,170,99,0.25);
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    background-color: #f9f9f9;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.scott-jones-card-title-mobile {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.75rem;
    text-align: center;
}

.scott-jones-testimonial-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.scott-jones-testimonial-mobile  {
    width: 100%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 4px 0px rgba(44,170,99,0.25);
    border-radius: 5px;
    position: relative;
    text-align: center;
    background-color: #f9f9f9;
}

.scott-jones-testimonial-card-container-mobile  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}